<!-- 底部 开始 -->
<div class="footer">
  <div class="footer-ct">
    <div class="footer-t clr">
      <div class="footer-tl l">
        <div class="ul clr">
          <div class="li">
            <h3>关于我们</h3>
            <a href="#">关于缤刻</a>
            <a href="#">人才招聘</a>
            <a href="#">联系我们</a>
            <a href="#">网站地图</a>
            <a href="#">缤刻招商</a>
          </div>
          <div class="li">
            <h3>玩转缤刻</h3>
            <a href="#">缤刻大事记</a>
            <a href="#">新手指南</a>
            <a href="#">服务条款</a>
            <a href="#">退换货指南</a>
          </div>
          <div class="li">
            <h3>关注缤刻</h3>
            <a id="weixin-a" class="weixin-a" href="#">
              <i class="weixin"></i>关注微信
              <div id="weixin-popout" class="weixin-popout" style="display:none;">
                <img src="../../images/twCode.jpg" width="96" height="98" />
              </div>
            </a>
            <a href="#"><i class="weibo"></i>关注微博</a>
          </div>
        </div>
      </div>
      <div class="footer-tr footer-index r dn">
        <div class="ul clr">
          <div class="li first">
            <h3>友情链接<a href="#">更多 ></a></h3>
            <p>
              <a target="_blank" href="http://www.mina.com.cn/">米娜</a><a target="_blank" href="http://sh.sina.com.cn/">新浪上海</a><a target="_blank" href="http://www.mixr.cn/">Mixr</a><a target="_blank" href="http://www.laawoo.com/">拉网</a>
            </p>
          </div>
        </div>
      </div>
      
      <div class="footer-tr r">
        <div class="ul clr">
          <div class="li first">
            <h3>更多惊喜</h3>
            <p>
              <a target="_blank" href="#">特价抢购</a><a target="_blank" href="#">免费试用</a><a target="_blank" href="#">缤刻活动</a><a target="_blank" href="#">App下载</a>
            </p>
          </div>
          <div class="li">
            <h3>缤刻精彩</h3>
            <p>
              <a target="_blank" href="#">缤刻家园</a><a target="_blank" href="#">线下门店</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-b">
      <div class="footer-bt">
        <p>
          <span class="company">前迈企业管理咨询（上海）有限公司</span><span>沪ICP备12037413号</span><span>COPYRIGHT:2012-2013 BLINQ.CN</span><span>版权所有</span>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- 底部 结束 -->