<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>{{ page.title }}</title>
  <meta name="keywords" content="{{ page.keywords }}" />
  <meta name="description" content="{{ page.description }}" />
  <link href="favicon.ico" rel="SHORTCUT ICON" />
  {% include site_script.html %}
  <link href="../../css/all/main.css" rel="stylesheet" />
  <link href="../../css/page/{{ page.css }}.css" rel="stylesheet" />
  <script src="../../js/dist/jquery/jquery-1.10.2.min.js"></script>
  <script src="../../js/dist/plugin/all.min.js"></script>
  <script src="../../js/dist/all/main.min.js"></script>
  <script src="../../js/src/page/{{ page.js }}.js"></script>
</head>